* {
	box-sizing: border-box;
	/* background-color: ; */
	font-family: "Basis Grotesque Pro", Arial, sans-serif !important;
}
a{
	text-decoration: none;
	color: black;
}

/* header */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #0000002d;
	margin-bottom: 1.5rem;
	
}

.img {
	width: 5.5rem;
}

.nav-items ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
}

.nav-items ul li {
	padding: 1rem 1rem 0rem 1rem;
}
@media only screen and (max-width: 400px) {
	.nav-items ul li {
		padding: 1rem .5rem 0rem .5rem;
	}
}

/* Body */


.search-container {
	display: flex;
	justify-content: center;
	text-align: center;
}

/* .search-input {

}
.search-btn {
} */

.restraunt-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}
.restrauntCard{
	margin: 1rem;
	width: 15rem;
	height: 15rem;
	/* border: none; */
	border-radius: 1rem;
}
.restrauntCard:hover{
	box-shadow: 0rem 0rem .1rem 0rem;
}

.restrauntCard > img{
	width: 15rem;
	height:9rem;
	object-fit: cover;
	border-radius: 1rem;
}

.rating {
	font-size: .9rem;
}
.cuisines {
	font-size: .8rem;
	color: rgba(2, 6, 12, 0.6);
	margin: 0rem;
}
.one-line {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

